.home {
    width: 90%;
    margin: 2% auto;
    font-family: 'Roboto', sans-serif;
}

.home-title {
    font-weight: bold;
    margin: 3% 0 2% 0;
    text-align: center;
}

.selectDiet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.selectDiet-img {
    width: 90%;
    height: 100%;
    cursor: pointer;  
}

.selectPlan {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.selectPlan-img {
    margin-right: 1%;
    width: 90%;
    height: 100%; 
    cursor: pointer; 
}

.selectIntolerance {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.selectIntolerance-img {
    margin-right: 1%;
    width: 90%;
    height: 100%;
    cursor: pointer;
}

.home-create-button-container{
    display: flex;
    justify-content: center;
}

.home-create-button {
    color: white;
    background-color: #E4717A;
    width: 30%;
    height: 5%;
    padding: 1em;
    border-radius: 10px;
    border: none;
    margin: 5%;
}

select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

  .image {
      width: 25%;
      height: 100%;
  }

  .image-container:hover .overlay {
    opacity: 1;
  } */