.shopping-list-container {
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 50, 0.9);
    position: fixed;
    overflow: hidden;
    z-index: 49;
}
.shopping-list-menu-summary {
    z-index: 50;
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column; 
    background-color: rgb(241, 238, 238);
    position: fixed;
    border-radius: 5px;
}